.config/chromium
.config/Atom
.config/.mono/keypairs
.config/Fritzing/fzz
.config/VirtualBox
.config/hexchat/hexchat/logs
.config/hexchat/logs
.config/hexchat/hexchat/scrollback
.config/hexchat/scrollback
.config/pulse
.config/transmission/dht.dat
.config/transmission/resume
.config/transmission/torrents

.atom/packages
.atom/.node-gyp
.atom/.npm
.atom/.apm
.atom/compile-cache
.atom/electron

.vim/plugged
.config/yarn
.weechat/logs
node_modules
.weechat/weechat.log
.config/coc
.config/configstore
.config/gcloud
.docker/buildx
.docker/application-template
__pycache__
.config
.ssh/known_hosts.old
.config/coc/history.json
.kube/cache
.docker/trust
.docker/contexts
.DS_Store
.docker
.ssh/known_hosts
.ssh
!.ssh/config
.kube
iterm2
.netrc
.#*
result/*.zwc
.zshrc.zwc
