.weechat/logs
node_modules
.config/coc
.config/configstore
.config/gcloud
.docker/buildx
.docker/application-template
__pycache__
.config
.ssh/known_hosts.old
.config/coc/history.json
.kube/cache
.docker/trust
.docker/contexts
.DS_Store
.docker
.ssh/known_hosts
.ssh
!.ssh/config
.kube
iterm2
.netrc
.#*
result/*.zwc
.zshrc.zwc

# config
.config/*
!.config/nvim
!.config/doom
!.config/polybar

